.navbar {
    background: #37188d;
}

.card-img-top {
    border-radius: 1.75em;
}

.card {
    transition: transform 2s;
}

.card:hover {
    transform: translateX(50px);
}

.wrapper {
    width: 60%;
    max-width: 500px;
    margin: 1em auto;
    padding: 2em;
    border: 1px dashed rgb(175, 175, 175);
    border-radius: 5%;
}