<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>My site!</title>
    {% endif %}
    <!-- ###### -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- подключили собственные стили -->
</head>
<body>
    <nav>
        <p><a href="{{ url_for('main_page') }}">Главная</a></p>
        <p><a href="{{ url_for('contact_page') }}">Контакты</a></p>
        <p><a href="{{ url_for('gallery_page') }}">Галерея</a></p>
    </nav>

    <div class="container"> <!-- обертночный контейнер для содержимого сайта -->
        {% block content %}
            <!-- вот сюда подставляются странички сайта -->
        {% endblock %}
    </div><!-- ###### -->

</body>
</html>